* {
    margin:0;
    padding: 0;
    box-sizing: 0;
}

.Header{
    background-color: #436A89;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.0) !important;
    
}

.ImagemLogo{
    height: 160px;
    display: flex;
}

/* Login */
.LinearGradient{
    background: linear-gradient(257.65deg, rgba(0, 0, 0, 0.7) 29.27%, rgba(0, 0, 0, 0.63) 53.66%, rgba(0, 0, 0, 0) 99.98%), url("../Imagens/Imagem4.jpg");
    min-height: 100%;
    background-size: cover;
    background-position: 50% 0;
}

.FundoLogin{
    height: 720px;
}

.FundoLogin section{
    display: flex;
    justify-content:  flex-end;
}

.box_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EstilizacaoLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.box_form input{
    /* margin-bottom: 43px; */
    display: inline-block;
    justify-content: space-between;
    display: flex;
}

.Espacamento{
    padding: 20px;
    height: 55vh;
    display: flex;
}


.Div_Login{
    display: flex;
    justify-content: center;
    border: white solid 1px;
    flex-direction: column;
    height: 330px;
    width: 614px;
    align-items: center;
    border-radius: 22px;
    margin-top: 165px;
    margin-right: 120px;
}

.Div_Login h1{
    color: white;
    font-size: 35px;
    padding-top: 35px;
}

.Div_Login input{
    background-color: unset;
    outline: none;
    border-color: transparent;
    border-bottom-color: white;
    width: 444px;
    color: white;
    font-size: 15px;
}

.botao{
    width: 130px;
    height: 30px;
    background-color: #2686CC;
    border-color: transparent;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.botao:disabled{
    background-color: rgba(184,184,184,1);
    color:white;
    cursor: not-allowed;
}

.Div_Login input::placeholder{
    color: white;
}



/* .{
    color: white;
} */

.Div_Login hr{
    color: white;
    size: 1px;
    width: 444px;
}

/* Cadastrar */
.FundoCadastrar{
    height: 720px;
    background: linear-gradient(
     257.65deg, rgba(0, 0, 0, 0.7) 29.27%, rgba(0, 0, 0, 0.63) 53.66%, rgba(0, 0, 0, 0) 99.98%), url("../Imagens/imagem9.jpg");
    min-height: 100%;
    background-size: cover;
    background-position: 50% 0; 
}

.BordaCadastrar{
    border: white solid 1px;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.ConteudoDivCadastrar{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 55vh;
    justify-content: space-evenly;
}

.TituloCadastro{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    padding-top: 15px;
}

.DivsListar{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 24vh;
    justify-content: space-between;
}

.ConteudoDivCadastrar input{
    background-color: unset;
    outline: none;
    border-color: transparent;
    border-bottom-color: white;
    color: white;
    font-size: 18px;
}

.ConteudoDivCadastrar .BottomMenor{
    color: white;
}

.ConteudoDivCadastrar .BottomMenor::placeholder{
    content: 'teste';
}

.ConteudoDivCadastrar select{
    background-color: unset;
    outline: none;
    border-color: transparent;
    border-bottom-color: white;
    color: white;
    border-width: 2px;
    font-size: 18px;
}

.Botoes{
    display: flex;
    width: 18vw;
    justify-content: space-between;
}

.BottomMenor i{
    color: white;
}

.input[type="date" i] {
    color: white;
}


.AlinhamentoCadastrar{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.ConteudoDivCadastrar option{
    background-color: #B3B3B3;
    color: #FFFFFF;
}

.BotaoCadastrar{
    width: 130px;
    height: 28px;
    background-color: #2686CC;
    border-color: white;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* Listar Consultas Paciente */
.FundoListarPaciente{
    height: 720px;
    background-image: url("../Imagens/imagem6.jpg");
}

/* Listar Consultas Médico */
.FundoListarMedico{
    background: linear-gradient(
     257.65deg, rgba(0, 0, 0, 0.7) 29.27%, rgba(0, 0, 0, 0.63) 53.66%, rgba(0, 0, 0, 0) 99.98%), url("../Imagens/Imagem3.jpg");
    min-height: 100%;
    background-size: cover;
    background-position: 50% 0;
}

.ImagemCalendario{
    margin-left: 15px;
}


.FundoListarTodos{
    background: linear-gradient(
     257.65deg, rgba(0, 0, 0, 0.7) 29.27%, rgba(0, 0, 0, 0.63) 53.66%, rgba(0, 0, 0, 0) 99.98%), url("../Imagens/Imagem3.jpg");
    min-height: 100%;
    background-size: cover;
    background-position: 50% 0;
}


.TituloListarMinhas{
    color: white;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 15px;
}

.ConteudoListar{
    color: white;
    font-size: 20px;
}

.ConteudoLinhas{
    display: flex;
    padding-top: 5px;
}

.ListarConsultas{
    margin-top: 25px;
    margin-bottom: 25px;
}

.ChaveListar{
    font-weight: bold;
    color: white;
}

.ConteudoListar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: white solid 2px;
    border-radius: 12px;
    height: 90%;
    margin-left: 15px;
    padding-right: 90px;
    padding-left: 90px;
    margin-top: 55px;
    min-height: 45vh;
}

.ConteudoListarMedico{
    padding-top: 5px;
}

.ConteudoListarDentro{
    padding-top: 5px;
}

.ConteudoListarConsulta{
    padding-top: 5px;
}

.valorListar{
    padding-left: 10px;
}

.DataHora{
    display: flex;
}

.ListarHora{
    padding-left: 15px;
}

.ContainerCards{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.ConteudoEspacamento{
    padding-top: 25px
}

.DivDescricao{
    margin-top: 15px;
    width: 300px;
    height: 100px;
    color: white;
    border: white solid 2px;
    border-radius: 12px;
    justify-content: center;
    background-color: unset;
}

.ConteudoDescricao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BotaoAtualizarDescricao{
    background-color: #2686CC;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    width: 145px;
    height: 35px;
    border: white solid 2px;
    border-radius: 7px;
}

.LapisIcon{
    background-color: unset;
    text-decoration: unset;
    border: unset;
}

.AlinhamentoDivs{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

/* Responsivo */

@media(max-width: 1024px){
    .FundoCadastrar{
        height: 98vh;
    }

    .BordaCadastrar{
        width: 65%;
    }

    .DivsListar{
        width: 40vw;
    }

    .Botoes{
        width: 35vw;
    }

    .BotaoCadastrar{
        width: 16vw;
    }

    .FundoLogin {
        height: 106vh;
    }

    .Div_Login{
        width: 545px;
    }
    
    .Div_Login h1{
        font-size: 50px;
    }

    .Div_Login input{
        font-size: 25px;
        height: 32px;
    }

    .botao{
        font-size: 18px;
    }
}
